/*
 * Less functions
 */
.box-shadow(@arguments) {
	-webkit-box-shadow: @arguments;
	-khtml-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-o-box-shadow: @arguments;
	box-shadow: @arguments;
}

.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-khtml-border-radius: @radius;
	-moz-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.transition(@arguments) {
	-webkit-transition: @arguments;
	-khtml-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

.transform(@arguments) {
	-webkit-transform: @arguments;
	-khtml-transform: @arguments;
	-moz-transform: @arguments;
	-o-transform: @arguments;
	transform: @arguments;
}
.box-sizing(@arguments) {
	-webkit-box-sizing: @arguments;
	-moz-box-sizing: @arguments;
	box-sizing: @arguments;
}
.font-smoothing(@arguments) {
	-webkit-font-smoothing: @arguments;
}

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
	background: @color;
	background:	-webkit-gradient(linear,
				left bottom,
				left top,
				color-stop(0, @start),
				color-stop(1, @stop));
	background:	-ms-linear-gradient(bottom,
				@start,
				@stop);
	background:	-moz-linear-gradient(center bottom,
				@start 0%,
				@stop 100%);
	background:	-o-linear-gradient(@stop,
				@start);
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}




/* ---------------------------Fonts--------------------------- */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic,700italic);

@font-face {
	font-family: 'OpenSansCondensedBold';
	src: url('../fonts/opensans-condbold-webfont.eot');
	src: url('../fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans-condbold-webfont.woff') format('woff'),
		url('../fonts/opensans-condbold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansItalic';
	src: url('../fonts/opensans-italic-webfont.eot');
	src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans-italic-webfont.woff') format('woff'),
		url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
		url('../fonts/opensans-italic-webfont.svg#OpenSansItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans-regular-webfont.woff') format('woff'),
		url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
		url('../fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansSemiboldRegular';
	src: url('../fonts/opensans-semibold-webfont.eot');
	src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans-semibold-webfont.woff') format('woff'),
		url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
		url('../fonts/opensans-semibold-webfont.svg#OpenSansSemiboldRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ElegantIcons';
	src: url('../fonts/ElegantIcons.eot');
	src: url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ElegantIcons.woff') format('woff'),
		url('../fonts/ElegantIcons.ttf') format('truetype'),
		url('../fonts/ElegantIcons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



/* ---------------------------Typography--------------------------- */
  

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans';
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a
h1 a:visited,h2 a:visited,h3 a:visited,h4 a:visited,h5 a:visited,h6 a:visited {
	color: #404040;
}
h1 {
	font-size: 36px;
	margin: 0 0 10px;
}
h2 {
	font-size: 24px;
	line-height: 28px;
	margin: 5px 0 10px;
}
h3 {
	font-size: 24px;
	line-height: 28px;
	margin: 0 0 10px;
}
h4 {
	font-size: 16px;
	line-height: 18px;
	margin: 0 0 8px;
}
input {
	padding: 5px;
}
strong {
	font-weight: bold;
}
.alignleft {
	float: left;
	margin: 0 20px 20px 0;
}
.alignright {
	float: right;
	margin: 0 0 20px 20px;
}

a,a:visited {
	text-decoration: none;
	color: #CC4C25;
	font-weight: 700;
	.transition(all .25s ease);
}

p {
	margin: 0 0 15px;
}

html,
body {
	font: normal 12px/20px 'Open Sans','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
	font-weight: 300;
	color: #404040;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #f6f6f6;
}


/* ---------------------------Icons--------------------------- */

.icon_pencil, .icon_pin_alt, .icon_tag_alt {
	font-size: 1.5rem;
	color: #666666;
	font-weight: 100;
}
/* ---------------------------Header--------------------------- */

header{
	&#main-header{
		position: fixed;
		width: 100%;
		height: auto;
		color: #FFF;
		z-index: 99999;
		background-color: #555;
		.site-logo{
			display: block;
		    padding: 16px 0;
		}
	}
}

#main-nav {
	width: 100%;
	display: block;
	nav {
		margin: 0;
		padding: 0;
		float: right;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				font-size: 14px;
				float: left;
				margin: 0;
				text-align: center;
				a {
					display: block;
					font-weight: 400;
					padding: 30px 22px;
					margin: 0;
					color: #FFF;
					border-bottom: 1px solid transparent;
					&:hover {
						border-color: #eee;
						color: #F8F8F8;
					}
				}
				&.current_page_item {
					a {
						background: rgba(255,255,255,0.3);
					}
				}
			}
		}
	}
	.languages{
		float: right;
	    padding: 30px 20px;
	    font-size: 1.2rem;
	}
}

#top-search{
	float: right;
	margin-top: 30px;
	form{
		position: absolute;
	    right: 0;
	    top: 81px;
	    padding: 10px;
	    background-color: #555;
	    color: #000;
	    input{
	    	margin-bottom: 0;
	    }
	}
	.search-form {
		&.hidden {
			visibility: hidden;
		}
	}
	.icon_search{
		font-size: 1.5rem;
		margin: 0 20px;
	} 
}


.sub-header {
	float: left;
}

#content{
	padding-top: 81px;
}
.spacer:after{
	content: '.';
	visibility: hidden;
}

#intro{
	height: 320px;
}

#featured-content{
	margin-bottom: 40px;
}
.list-content{
	ul, li{ 
		list-style: none;
		margin-bottom: 0;
		li.home-post-list, .home-post-list{
			width: 45.33333333333%;
		    float: left;
		    list-style: none;
		    margin-bottom: 20px;
		    display: none;
			&:nth-child(odd){
				margin-right: 4.66666666667%;
				margin-left: 0;
			}
			&:nth-child(even){
				margin-right: 0;
				margin-left: 4.66666666667%;
			}
			.post-list-icon{
				text-align: right;
				span{
					display: inline-block;
				}
			}
			&.active{
				display:block; 
			}
		}
	}
}


/* ---------------------------body--------------------------- */
#intro{
	.intro-logo {
	    padding: 70px 0 30px;
	    text-align: center;
	}
	.intro-text{
		padding-top: 10px;
		p{
			text-align: center;
			font-size: 22px;
			font-style: italic;
			line-height: 30px;
		}
	}
}

/* ---------------------------Footer--------------------------- */

#site-footer{
	width: 100%;
	background-color: #333;
	color: #fff;
	p, a, a:visited{
		color: #666;
		font-weight: 700;
	}
	.footer-description {
		font-weight: 100;
	}
	#site-info{
		background-color: #666;
		float: left;
		width: 100%;
		p{
			margin: 0;
			&.colophon{
				float: left;
			}
			&.footer-social-icons{
				float: right;
			}
		}
	}
	h4{
		font-family: "Open Sans" ;
		font-size: 22px;
		font-weight: 300;
	    margin: 20px 0;
	}
	ul{
		list-style: none;
	}
	li{
		list-style: none;
		margin-bottom: 0;
	}
	
	.block{
		margin-top: 35px;
		padding-top: 10px;
		border-top: 1px solid rgb(182,200,119);
	}
	.main-footer{
		padding-bottom: 40px;
	}
}

/*----------------map----------------*/
.stage-map {
	margin: 0;
	height: 480px;
	position: relative;
	z-index: 100;
}


.single-dataset {
	#stage {
		.post-header {
			h2 {
				font-size: 14px;
				line-height: 16px;
				margin: 0;
				text-transform: uppercase;
				a {
					color: #666;
				}
			}
			h1.title {
				width: auto;
				max-width: 100%;
			}
		}
	}
	.preview-container {
		iframe {
			width: 100%;
			height: 500px;
		}
	}
	.download {
		font-size: 20px;
		line-height: 40px;
		display: block;
		text-align: center;
	}
	.license-name,
	.source-name {
		font-size: 16px;
		font-weight: 800;
		a {
			color: #000;
		}
	}
	.sidebar-item {
		padding: 20px;
		background: #fff;
		h3 {
			margin-bottom: 20px;
		}
		li {
			width: 50%;
			float: left;
			padding: 0 15px 0 0;
			margin: 0 0 10px 0;
		}
	}
} 	

.map-container .map {
    background-color: #111;
    position: relative;
}
.map-container .map {
    width: 100%;
    height: 100%;
}
    .map-container {
    overflow: hidden;
}
.content-map, .map-container {
    position: relative;
    height: 100%;
}

#stage .stage-map {
    margin: 0px;
    height: 480px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 100;
}

.popular-content{
	background-color: #fff;
	.slider{
		margin-top: 50px;
		#home-slider{
			width: 90%;
			.popular-thumb{
				max-height: 200px;
				overflow: hidden;
			}
			.slider-content{
			    width: 63%;
			    float: left;
			    h2{
			    	font-family: 'Open Sans';
			    	margin: 20px 0;
			    	font-size:40px;
			    	text-align:left;
			    	a{
					font-weight: 300;
					color:rgb(51,51,51);
					}
			    }
			    .excerpt p{
			    	font-family:"Open Sans";
					font-size:16px;
					font-style:italic;
					line-height:160%;
					color:rgb(51,51,51);
					text-align:left;
					padding-bottom:10px;

			    }
			}
			.slider-meta{
				float: left;
				width: 30%;
				margin-left: 7%;
				padding-top: 20px;
				.meta-author, .meta-country, .meta-topic{
					margin-bottom: 30px;
					.meta-content{
						p{
							display: inline-table;
						}
					}
					.meta-icons{
					    top: 4px;
					    margin-right: 8%;
					    position: relative;
					    font-size: 1.8rem;
					}
				}
				.meta-topic{
					margin-bottom: 0;
				}
			}
		}
	}
}

/* ---------------------------posts--------------------------- */
#single-post{
	.post-header{
		h1{
			font-size: 36px;
			text-align: center;
		}
		p{
			font-size:22px;
			text-align: center;
			font-style: italic;
			padding: 20px 100px;
			line-height: 30px;
		}
	}
	.post-meta{
		span{
			width: 100%;
			display: block;
			text-align: center;
			&.icon_pencil, &.icon_pin_alt, &.icon_tag_alt {
			    font-size: 1.8rem;
			    margin-bottom: 15px;
			}
			.info{
				margin-bottom: 20px;
			}
		}
	}
	.post-content{
		
		h1{
			font-size: 36px;
		}
		p{
			margin-top: 40px;
			padding-top: 40px;
			border-top: 1px solid rgb(182,200,119);
			font-size:20px;
			line-height:160%;
			color:rgb(51,51,51);
			text-align:left;
			padding-bottom:10px;

		}

	}
}

.list-posts {
	list-style: none;
	li{
		
	}
}



.choose-filter {
            margin: -17px 0 18px;
            z-index: 200;
            position: relative;
            float: left;
            .title {
                    font-family: 'OpenSansRegular';
                    .font-smoothing(antialiased);
                    text-rendering: optimizeLegibility;
                    font-size: 18px;
                    line-height: 22px;
                    margin: 0;
                    padding: 15px 0;
                    border-left: 1px solid transparent;
                    list-style: none;
                    display: block;
                    float: left;
                    .transition(all .2s ease-in-out);
                    position: absolute;
                    top: 22px;
            }
            .box {
                    min-width: 200px;
                    padding: 0 15px;
                    .box-sizing(border-box);
                    border: 1px solid transparent;
                    background: transparent;
                    .transition(all .2s ease-in-out);
                    cursor: pointer;
                    position: relative;
                    z-index: 2;
                    float: left;
                    .arrow {
                            background-image: url(../img/sprite.png);
                            background-position: 0 0;
                            background-repeat: no-repeat;
                            display: block;
                            width: 25px;
                            height: 25px;
                            float: left;
                            margin-top: 11px;
                            margin-right: 7px;
                            margin-left: -10px;
                            opacity: 0.5;
                            .transition(opacity .2s ease-in-out);
                    }
                    .title {
                            padding: 15px 0 15px 12px;
                            position: static;
                            top: auto;
                    }
                    &:hover {
                            background: rgba(255,255,255,0.2);
                            border: 1px solid rgba(0,0,0,0.1);
                            .box-shadow(0 2px 5px rgba(0, 0, 0, 0.05));
                            .arrow {
                                    opacity: 1;
                            }
                            .title {
                                    border-left: 1px solid #e0e0e0;
                            }
                    }
                    &:active {
                            .box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.05));
                    }
            }
            ul {
                    position: absolute;
                    display: none;
                    top: 53px;
                    width: 100%;
                    background: #fff;
                    border-top: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    .box-sizing(border-box);
                    li {
                            margin: 0;
                            padding: 0;
                            a {
                                    display: block;
                                    padding: 10px;
                                    border-bottom: 1px solid #ccc;
                                    color: #404040;
                                    &:hover {
                                            background-color: #8ec63d;
                                            color: #fff;
                                    }
                            }
                    }
            }
            &.active {
                    .box {
                            background: #fff;
                            border: 1px solid #ccc;
                            .arrow {
                                    opacity: 1;
                            }
                    }
                    ul {
                            display: block;
                    }
            }
    }
    .toggle-more-filters {
		float: left;
		margin-left: 40px;
		margin-top: 2px;
		a {
			padding: 8px 12px;
			border: 1px solid transparent;
			color: #666;
			text-transform: lowercase;
			background: rgba(255,255,255,0.1);
			.box-shadow(0 0 5px rgba(0,0,0,0.02));
			border: 1px solid rgba(0,0,0,0.05);
			&:hover {
				background: rgba(255,255,255,0.2);
				.box-shadow(0 0 8px rgba(0,0,0,0.08));
				border: 1px solid rgba(0,0,0,0.1);
			}
		}
    }
	.more-filters {
		.advanced-nav-filters {
			display: none;
			&.active {
				display: block;
			}
		}
	}

	.active{
		font-weight: bold;
	}

	.listed-post{
		width: 200px;
		float: left;
		display: none;
		&.active{
			display: block;
		}
	}