@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic,700italic);
/*
 * Less functions
 */
/* ---------------------------Fonts--------------------------- */
@font-face {
  font-family: 'OpenSansCondensedBold';
  src: url('../fonts/opensans-condbold-webfont.eot');
  src: url('../fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-condbold-webfont.woff') format('woff'), url('../fonts/opensans-condbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/opensans-italic-webfont.eot');
  src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-italic-webfont.woff') format('woff'), url('../fonts/opensans-italic-webfont.ttf') format('truetype'), url('../fonts/opensans-italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemiboldRegular';
  src: url('../fonts/opensans-semibold-webfont.eot');
  src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans-semibold-webfont.ttf') format('truetype'), url('../fonts/opensans-semibold-webfont.svg#OpenSansSemiboldRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ElegantIcons';
  src: url('../fonts/ElegantIcons.eot');
  src: url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'), url('../fonts/ElegantIcons.woff') format('woff'), url('../fonts/ElegantIcons.ttf') format('truetype'), url('../fonts/ElegantIcons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ---------------------------Typography--------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans';
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #404040;
}
h1 {
  font-size: 36px;
  margin: 0 0 10px;
}
h2 {
  font-size: 24px;
  line-height: 28px;
  margin: 5px 0 10px;
}
h3 {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 10px;
}
h4 {
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 8px;
}
input {
  padding: 5px;
}
strong {
  font-weight: bold;
}
.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}
.alignright {
  float: right;
  margin: 0 0 20px 20px;
}
a,
a:visited {
  text-decoration: none;
  color: #CC4C25;
  font-weight: 700;
  -webkit-transition: all 0.25s ease;
  -khtml-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
a:hover {
  color: #D77354;
}
p {
  margin: 0 0 15px;
}
html,
body {
  font: normal 12px/20px 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
  color: #404040;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #f6f6f6;
}
/* ---------------------------Icons--------------------------- */
.icon_pencil,
.icon_pin_alt,
.icon_tag_alt {
  font-size: 1.5rem;
  color: #666666;
  font-weight: 100;
}
/* ---------------------------Header--------------------------- */
header#main-header {
  position: fixed;
  width: 100%;
  height: auto;
  color: #FFF;
  z-index: 99999;
  background-color: #555;
}
header#main-header .site-logo {
  display: block;
  padding: 16px 0;
}
#main-nav {
  width: 100%;
  display: block;
}
#main-nav nav {
  margin: 0;
  padding: 0;
  float: right;
}
#main-nav nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main-nav nav ul li {
  font-size: 14px;
  float: left;
  margin: 0;
  text-align: center;
}
#main-nav nav ul li a {
  display: block;
  font-weight: 400;
  padding: 30px 22px;
  margin: 0;
  color: #FFF;
  border-bottom: 1px solid transparent;
}
#main-nav nav ul li a:hover {
  border-color: #eee;
  color: #F8F8F8;
}
#main-nav nav ul li.current_page_item a {
  background: rgba(255, 255, 255, 0.3);
}
#main-nav .languages {
  float: right;
  padding: 30px 20px;
  font-size: 1.2rem;
}
#top-search {
  float: right;
  margin-top: 30px;
}
#top-search form {
  position: absolute;
  right: 0;
  top: 81px;
  padding: 10px;
  background-color: #555;
  color: #000;
}
#top-search form input {
  margin-bottom: 0;
}
#top-search .search-form.hidden {
  visibility: hidden;
}
#top-search .icon_search {
  font-size: 1.5rem;
  margin: 0 20px;
}
.sub-header {
  float: left;
}
#content {
  padding-top: 81px;
}
.spacer:after {
  content: '.';
  visibility: hidden;
}
#intro {
  height: 320px;
}
#featured-content {
  margin-bottom: 40px;
}
.list-content .topic-content,
.list-content .country-content {
  width: 78%;
  float: left;
}
.list-content #country-list li,
.list-content #topic-list li {
  cursor: pointer;
}
.list-content #country-list li.active,
.list-content #topic-list li.active {
  font-weight: bold;
  color: #CC4C25;
}
.list-content ul,
.list-content li {
  list-style: none;
  margin-bottom: 0;
}
.list-content ul li.home-post-list,
.list-content li li.home-post-list,
.list-content ul .home-post-list,
.list-content li .home-post-list {
  width: 40.33333333333%;
  float: left;
  list-style: none;
  margin-bottom: 5rem;
  display: none;
  margin-left: 9.3333332%;
  margin-right: 0;
}
.list-content ul li.home-post-list h6,
.list-content li li.home-post-list h6,
.list-content ul .home-post-list h6,
.list-content li .home-post-list h6 {
  margin-bottom: 1rem;
}
.list-content ul li.home-post-list .post-list-country,
.list-content li li.home-post-list .post-list-country,
.list-content ul .home-post-list .post-list-country,
.list-content li .home-post-list .post-list-country {
  float: right;
}
.list-content ul li.home-post-list .post-list-country .icon_pin_alt,
.list-content li li.home-post-list .post-list-country .icon_pin_alt,
.list-content ul .home-post-list .post-list-country .icon_pin_alt,
.list-content li .home-post-list .post-list-country .icon_pin_alt {
  top: 3px;
  position: relative;
}
.list-content ul li.home-post-list .post-list-icon,
.list-content li li.home-post-list .post-list-icon,
.list-content ul .home-post-list .post-list-icon,
.list-content li .home-post-list .post-list-icon {
  text-align: right;
}
.list-content ul li.home-post-list .post-list-icon span,
.list-content li li.home-post-list .post-list-icon span,
.list-content ul .home-post-list .post-list-icon span,
.list-content li .home-post-list .post-list-icon span {
  display: inline-block;
}
.list-content ul li.home-post-list.active,
.list-content li li.home-post-list.active,
.list-content ul .home-post-list.active,
.list-content li .home-post-list.active {
  display: block;
}
/* ---------------------------body--------------------------- */
#intro .intro-logo {
  padding: 70px 0 30px;
  text-align: center;
}
#intro .intro-text {
  padding-top: 10px;
}
#intro .intro-text p {
  text-align: center;
  font-size: 22px;
  font-style: italic;
  line-height: 30px;
}
#featured-content {
  background-color: #fff;
}
#featured-content #home-featured h2 {
  font-family: 'Open Sans';
  margin: 50px 0 30px;
  font-size: 40px;
  text-align: left;
}
#featured-content #home-featured h2 a {
  font-weight: 300;
  color: #333333;
}
#featured-content #home-featured .excerpt p {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  line-height: 160%;
  color: #333333;
  text-align: left;
  padding-bottom: 10px;
}
#featured-content #home-featured .featured-meta {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
#featured-content #home-featured .featured-meta .meta-author .meta-content p,
#featured-content #home-featured .featured-meta .meta-country .meta-content p,
#featured-content #home-featured .featured-meta .meta-topic .meta-content p {
  display: inline;
  margin-bottom: 5px;
}
#featured-content #home-featured .featured-meta .meta-author .meta-icons,
#featured-content #home-featured .featured-meta .meta-country .meta-icons,
#featured-content #home-featured .featured-meta .meta-topic .meta-icons {
  top: 4px;
  margin-right: 3%;
  position: relative;
  font-size: 1.8rem;
}
#featured-content #home-featured .featured-meta .meta-topic {
  margin-bottom: 0;
}
#featured-content #home-featured .read-more {
  width: 100%;
  background-color: #B6C877;
  color: #fff;
  border: 0;
  text-transform: lowercase;
  font-size: 1.2rem;
}
/* ---------------------------Footer--------------------------- */
#site-footer {
  width: 100%;
  background-color: #333;
  color: #fff;
}
#site-footer p,
#site-footer a,
#site-footer a:visited {
  color: #666;
  font-weight: 700;
}
#site-footer .footer-description {
  font-weight: 100;
}
#site-footer #site-info {
  background-color: #666;
  float: left;
  width: 100%;
}
#site-footer #site-info p {
  margin: 0;
}
#site-footer #site-info p.colophon {
  float: left;
}
#site-footer #site-info p.footer-social-icons {
  float: right;
}
#site-footer h4 {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 300;
  margin: 20px 0;
}
#site-footer ul {
  list-style: none;
}
#site-footer li {
  list-style: none;
  margin-bottom: 0;
}
#site-footer .block {
  margin-top: 35px;
  padding-top: 10px;
  border-top: 1px solid #b6c877;
}
#site-footer .main-footer {
  padding-bottom: 40px;
}
/*----------------map----------------*/
.stage-map {
  margin: 0;
  height: 480px;
  position: relative;
  z-index: 100;
}
.single-dataset #stage .post-header h2 {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  text-transform: uppercase;
}
.single-dataset #stage .post-header h2 a {
  color: #666;
}
.single-dataset #stage .post-header h1.title {
  width: auto;
  max-width: 100%;
}
.single-dataset .preview-container iframe {
  width: 100%;
  height: 500px;
}
.single-dataset .download {
  font-size: 20px;
  line-height: 40px;
  display: block;
  text-align: center;
}
.single-dataset .license-name,
.single-dataset .source-name {
  font-size: 16px;
  font-weight: 800;
}
.single-dataset .license-name a,
.single-dataset .source-name a {
  color: #000;
}
.single-dataset .sidebar-item {
  padding: 20px;
  background: #fff;
}
.single-dataset .sidebar-item h3 {
  margin-bottom: 20px;
}
.single-dataset .sidebar-item li {
  width: 50%;
  float: left;
  padding: 0 15px 0 0;
  margin: 0 0 10px 0;
}
.map-container .map {
  background-color: #111;
  position: relative;
}
.map-container .map {
  width: 100%;
  height: 100%;
}
.map-container {
  overflow: hidden;
}
.content-map,
.map-container {
  position: relative;
  height: 100%;
}
#stage .stage-map {
  margin: 0px;
  height: 480px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 100;
}
.popular-content {
  background-color: #fff;
}
.popular-content .slider {
  margin-top: 50px;
}
.popular-content .slider #home-slider {
  width: 90%;
}
.popular-content .slider #home-slider .popular-thumb {
  max-height: 200px;
  overflow: hidden;
}
.popular-content .slider #home-slider .slider-content {
  width: 63%;
  float: left;
}
.popular-content .slider #home-slider .slider-content h2 {
  font-family: 'Open Sans';
  margin: 20px 0;
  font-size: 40px;
  text-align: left;
}
.popular-content .slider #home-slider .slider-content h2 a {
  font-weight: 300;
  color: #333333;
}
.popular-content .slider #home-slider .slider-content .excerpt p {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  line-height: 160%;
  color: #333333;
  text-align: left;
  padding-bottom: 10px;
}
.popular-content .slider #home-slider .slider-meta {
  float: left;
  width: 30%;
  margin-left: 7%;
  padding-top: 20px;
}
.popular-content .slider #home-slider .slider-meta .meta-author,
.popular-content .slider #home-slider .slider-meta .meta-country,
.popular-content .slider #home-slider .slider-meta .meta-topic {
  margin-bottom: 30px;
}
.popular-content .slider #home-slider .slider-meta .meta-author .meta-content p,
.popular-content .slider #home-slider .slider-meta .meta-country .meta-content p,
.popular-content .slider #home-slider .slider-meta .meta-topic .meta-content p {
  display: inline-table;
}
.popular-content .slider #home-slider .slider-meta .meta-author .meta-icons,
.popular-content .slider #home-slider .slider-meta .meta-country .meta-icons,
.popular-content .slider #home-slider .slider-meta .meta-topic .meta-icons {
  top: 4px;
  margin-right: 8%;
  position: relative;
  font-size: 1.8rem;
}
.popular-content .slider #home-slider .slider-meta .meta-topic {
  margin-bottom: 0;
}
/* ---------------------------posts--------------------------- */
#single-post .post-header h1 {
  font-size: 36px;
  text-align: center;
}
#single-post .post-header p {
  font-size: 22px;
  text-align: center;
  font-style: italic;
  padding: 20px 100px;
  line-height: 30px;
}
#single-post .post-meta span {
  width: 100%;
  display: block;
  text-align: center;
}
#single-post .post-meta span.icon_pencil,
#single-post .post-meta span.icon_pin_alt,
#single-post .post-meta span.icon_tag_alt {
  font-size: 1.8rem;
  margin-bottom: 15px;
}
#single-post .post-meta span .info {
  margin-bottom: 20px;
}
#single-post .post-content h1 {
  font-size: 36px;
}
#single-post .post-content p {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #b6c877;
  font-size: 20px;
  line-height: 160%;
  color: #333333;
  text-align: left;
  padding-bottom: 10px;
}
.list-posts {
  list-style: none;
}
.choose-filter {
  margin: -17px 0 18px;
  z-index: 200;
  position: relative;
  float: left;
}
.choose-filter .title {
  font-family: 'OpenSansRegular';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 15px 0;
  border-left: 1px solid transparent;
  list-style: none;
  display: block;
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  -khtml-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 22px;
}
.choose-filter .box {
  min-width: 200px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  background: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -khtml-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  z-index: 2;
  float: left;
}
.choose-filter .box .arrow {
  background-image: url(../img/sprite.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 11px;
  margin-right: 7px;
  margin-left: -10px;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease-in-out;
  -khtml-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.choose-filter .box .title {
  padding: 15px 0 15px 12px;
  position: static;
  top: auto;
}
.choose-filter .box:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  -khtml-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.choose-filter .box:hover .arrow {
  opacity: 1;
}
.choose-filter .box:hover .title {
  border-left: 1px solid #e0e0e0;
}
.choose-filter .box:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  -khtml-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  -o-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}
.choose-filter ul {
  position: absolute;
  display: none;
  top: 53px;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.choose-filter ul li {
  margin: 0;
  padding: 0;
}
.choose-filter ul li a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: #404040;
}
.choose-filter ul li a:hover {
  background-color: #8ec63d;
  color: #fff;
}
.choose-filter.active .box {
  background: #fff;
  border: 1px solid #ccc;
}
.choose-filter.active .box .arrow {
  opacity: 1;
}
.choose-filter.active ul {
  display: block;
}
.toggle-more-filters {
  float: left;
  margin-left: 40px;
  margin-top: 2px;
}
.toggle-more-filters a {
  padding: 8px 12px;
  border: 1px solid transparent;
  color: #666;
  text-transform: lowercase;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.02);
  -khtml-box-shadow: 0 0 5px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.02);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.toggle-more-filters a:hover {
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  -khtml-box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.more-filters .advanced-nav-filters {
  display: none;
}
.more-filters .advanced-nav-filters.active {
  display: block;
}
.active {
  font-weight: bold;
}
.listed-post {
  width: 200px;
  float: left;
  display: none;
}
.listed-post.active {
  display: block;
}
