/* --------------------------------------------------------
  Custom Font
--------------------------------------------------------- */
@font-face {
  font-family: 'OpenSansCondensedBold';
  src: url('../fonts/opensans-condbold-webfont.eot');
  src: url('../fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-condbold-webfont.woff') format('woff'), url('../fonts/opensans-condbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/opensans-italic-webfont.eot');
  src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-italic-webfont.woff') format('woff'), url('../fonts/opensans-italic-webfont.ttf') format('truetype'), url('../fonts/opensans-italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemiboldRegular';
  src: url('../fonts/opensans-semibold-webfont.eot');
  src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans-semibold-webfont.ttf') format('truetype'), url('../fonts/opensans-semibold-webfont.svg#OpenSansSemiboldRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icon-font';
  src: url('../fonts/ElegantIcons.eot');
  src: url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'), url('../fonts/ElegantIcons.woff') format('woff'), url('../fonts/ElegantIcons.ttf') format('truetype'), url('../fonts/ElegantIcons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
 * Typography
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'OpenSansCondensedBold';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #404040;
}
h1 {
  font-size: 22px;
  margin: 0 0 10px;
}
h2 {
  font-size: 24px;
  line-height: 28px;
  margin: 5px 0 10px;
}
h3 {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 10px;
}
h4 {
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 8px;
}
input {
  padding: 5px;
}
strong {
  font-weight: bold;
}
.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}
.alignright {
  float: right;
  margin: 0 0 20px 20px;
}
a,
a:visited {
  text-decoration: none;
  color: #2C8FC6;
  -webkit-transition: all 0.25s ease;
  -khtml-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
p {
  margin: 0 0 15px;
}
html,
body {
  font: normal 12px/20px 'OpenSansRegular', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  color: #404040;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #f6f6f6;
}
/* 
 * Header 
 */
header {
  position: fixed;
  width: 100%;
  height: auto;
  color: #FFF;
}
header#main-header {
  background-color: #555;
}
#main-nav {
  width: 100%;
  display: block;
}
#main-nav nav {
  margin: 0;
  padding: 0;
  float: right;
}
#main-nav nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main-nav nav ul li {
  font-size: 14px;
  float: left;
  margin: 0;
  text-align: center;
}
#main-nav nav ul li a {
  display: block;
  font-weight: 700;
  padding: 20px 30px;
  margin: 0;
  color: #FFF;
  border-bottom: 1px solid transparent;
}
#main-nav nav ul li a:hover {
  border-color: #eee;
  color: #F8F8F8;
}
#main-nav nav ul li.current_page_item a {
  background: rgba(255, 255, 255, 0.3);
}
#top-search {
  position: absolute;
  float: right;
}
#top-search .search-form.hidden {
  visibility: hidden;
}
#top-search #search_icon {
  font-family: 'icon-font';
}
#top-search #search_icon:before {
  content: "\55";
  font-size: 17px;
  left: 0;
  position: absolute;
  padding: 20px;
}
#top-search #search_iconhover {
  cursor: pointer;
}
