.transition(@arguments) {
	-webkit-transition: @arguments;
	-khtml-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}



/* ---------------------------Fonts--------------------------- */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic,700italic);

@font-face {
	font-family: 'OpenSansCondensedBold';
	src: url('../fonts/opensans-condbold-webfont.eot');
	src: url('../fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans-condbold-webfont.woff') format('woff'),
		url('../fonts/opensans-condbold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansItalic';
	src: url('../fonts/opensans-italic-webfont.eot');
	src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans-italic-webfont.woff') format('woff'),
		url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
		url('../fonts/opensans-italic-webfont.svg#OpenSansItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans-regular-webfont.woff') format('woff'),
		url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
		url('../fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansSemiboldRegular';
	src: url('../fonts/opensans-semibold-webfont.eot');
	src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans-semibold-webfont.woff') format('woff'),
		url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
		url('../fonts/opensans-semibold-webfont.svg#OpenSansSemiboldRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ElegantIcons';
	src: url('../fonts/ElegantIcons.eot');
	src: url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ElegantIcons.woff') format('woff'),
		url('../fonts/ElegantIcons.ttf') format('truetype'),
		url('../fonts/ElegantIcons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



/* ---------------------------Typography--------------------------- */
  

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans';
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a
h1 a:visited,h2 a:visited,h3 a:visited,h4 a:visited,h5 a:visited,h6 a:visited {
	color: #404040;
}
h1 {
	font-size: 36px;
	margin: 0 0 10px;
}
h2 {
	font-size: 24px;
	line-height: 28px;
	margin: 5px 0 10px;
}
h3 {
	font-size: 24px;
	line-height: 28px;
	margin: 0 0 10px;
}
h4 {
	font-size: 16px;
	line-height: 18px;
	margin: 0 0 8px;
}
input {
	padding: 5px;
}
strong {
	font-weight: bold;
}
.alignleft {
	float: left;
	margin: 0 20px 20px 0;
}
.alignright {
	float: right;
	margin: 0 0 20px 20px;
}

a,a:visited {
	text-decoration: none;
	color: #2C8FC6;
	.transition(all .25s ease);
}

p {
	margin: 0 0 15px;
}

html,
body {
	font: normal 12px/20px 'Open Sans','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
	font-weight: 300;
	color: #404040;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #f6f6f6;
}


/* ---------------------------Icons--------------------------- */

.icon_pencil, .icon_pin_alt, .icon_tag_alt {
	font-size: 1.5rem
}
/* ---------------------------Header--------------------------- */

header{
	&#main-header{
		position: fixed;
		width: 100%;
		height: auto;
		color: #FFF;
		z-index: 99999;
		background-color: #555;
		.site-logo{
			display: block;
		    padding: 16px 0;
		}
	}
}

#main-nav {
	width: 100%;
	display: block;
	nav {
		margin: 0;
		padding: 0;
		float: right;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				font-size: 14px;
				float: left;
				margin: 0;
				text-align: center;
				a {
					display: block;
					font-weight: 400;
					padding: 30px 22px;
					margin: 0;
					color: #FFF;
					border-bottom: 1px solid transparent;
					&:hover {
						border-color: #eee;
						color: #F8F8F8;
					}
				}
				&.current_page_item {
					a {
						background: rgba(255,255,255,0.3);
					}
				}
			}
		}
	}
}

#top-search{
	float: right;
	margin-top: 30px;
	form{
		position: absolute;
	    right: 0;
	    top: 81px;
	    padding: 10px;
	    background-color: #555;
	    input{
	    	margin-bottom: 0;
	    }
	}
	.search-form {
		&.hidden {
			visibility: hidden;
		}
	}
	.icon_search{
		font-size: 1.5rem;
	} 
}


#content{
	padding-top: 81px;
}
.spacer:after{
	content: '.';
	visibility: hidden;
}

#intro{
	height: 320px;
}

#featured-content{
	margin-bottom: 40px;
}
.list-content{
	ul, li{ 
		list-style: none;
		margin-bottom: 0;
		li.home-post-list{
			width: 45.33333333333%;
		    float: left;
		    list-style: none;
		    margin-bottom: 20px;
			&:nth-child(odd){
				margin-right: 4.66666666667%;
				margin-left: 0;
			}
			&:nth-child(even){
				margin-right: 0;
				margin-left: 4.66666666667%;
			}
			.post-list-icon{
				text-align: right;
				span{
					display: inline-block;
				}
			}
		}
	}
}


/* ---------------------------body--------------------------- */
#intro{
	.intro-logo {
	    padding: 70px 0 30px;
	    text-align: center;
	}
	.intro-text{
		padding-top: 10px;
		p{
			text-align: center;
			font-size: 22px;
			font-style: italic;
			line-height: 30px;
		}
	}
}

/* ---------------------------Footer--------------------------- */

#site-footer{
	width: 100%;
	background-color: #333;
	color: #fff;
	p, a, a:visited{
		color: #666;
		font-weight: 700;
	}
	.footer-description {
		font-weight: 100;
	}
	#site-info{
		background-color: #666;
		float: left;
		width: 100%;
		p{
			margin: 0;
			&.colophon{
				float: left;
			}
			&.footer-social-icons{
				float: right;
			}
		}
	}
	h4{
		font-family: "Open Sans" ;
		font-size: 22px;
		font-weight: 300;
	    margin: 20px 0;
	}
	ul{
		list-style: none;
	}
	li{
		list-style: none;
		margin-bottom: 0;
	}
	
	.block{
		margin-top: 35px;
		padding-top: 10px;
		border-top: 1px solid rgb(182,200,119);
	}
	.main-footer{
		padding-bottom: 40px;
	}
}

/*----------------map----------------*/
.stage-map {
	margin: 0;
	height: 480px;
	position: relative;
	z-index: 100;
}


.single-dataset {
	#stage {
		.post-header {
			h2 {
				font-size: 14px;
				line-height: 16px;
				margin: 0;
				text-transform: uppercase;
				a {
					color: #666;
				}
			}
			h1.title {
				width: auto;
				max-width: 100%;
			}
		}
	}
	.preview-container {
		iframe {
			width: 100%;
			height: 500px;
		}
	}
	.download {
		font-size: 20px;
		line-height: 40px;
		display: block;
		text-align: center;
	}
	.license-name,
	.source-name {
		font-size: 16px;
		font-weight: 800;
		a {
			color: #000;
		}
	}
	.sidebar-item {
		padding: 20px;
		background: #fff;
		h3 {
			margin-bottom: 20px;
		}
		li {
			width: 50%;
			float: left;
			padding: 0 15px 0 0;
			margin: 0 0 10px 0;
		}
	}
} 	

.map-container .map {
    background-color: #111;
    position: relative;
}
.map-container .map {
    width: 100%;
    height: 100%;
}
    .map-container {
    overflow: hidden;
}
.content-map, .map-container {
    position: relative;
    height: 100%;
}

#stage .stage-map {
    margin: 0px;
    height: 480px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 100;
}


.popular-content{
	margin-top: 50px;
	background-color: #fff;
	#home-slider{
		.slider-content{
		    width: 63%;
		    float: left;
		}
		.slider-meta{
			float: left;
			width: 30%;
			margin-left: 7%;
		}
	}
}

/* ---------------------------posts--------------------------- */
#single-post{
	.post-header{
		h1{
			font-size: 36px;
			text-align: center;
		}
		p{
			font-size:22px;
			text-align: center;
			font-style: italic;
			padding: 20px 100px;
			line-height: 30px;
		}
	}
	.post-meta{

	}
	.post-content{
		
		h1{
			font-size: 36px;
		}
		p{
			margin-top: 40px;
			padding-top: 40px;
			border-top: 1px solid rgb(182,200,119);
			font-size:20px;
			line-height:160%;
			color:rgb(51,51,51);
			text-align:left;
			padding-bottom:10px;

		}

	}
}

.list-posts {
	list-style: none;
	li{
		
	}
}